//Vars
$negro:#090909;
$beige:#AE7A36;
$lightOrange:#FAB102;
$rojo:rgba(205, 58, 58, 1.0);
$beigeSecundary:rgba(247, 165, 59, .8);
/*reset*/
*{
	padding: 0;
	margin: 0;
}
iframe {     max-width: 100%;     height: auto; }

html{
	font-size: 62.5%;
}
footer{
	background-attachment: scroll;
}
body{
	background-image: url(../img/fondo-madera.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
/*animaciones y/o degrades*/
.degrade{
	background: linear-gradient(to top,orange,red);
	border: groove $negro 3px;
	border-radius: 10px;
	margin: 10px 10px;
}
.degradeB{
	background: linear-gradient(to top,orange,red);
	border: groove $negro 3px;
	border-radius: 10px;
	margin: 10px 10px;
}
.degradeF{
	background: linear-gradient(to top,orange,red);
	border: groove $negro 1px;
	border-radius: 10px;
	margin: 10px 10px;
}
.degradeTrans{
	background: rgb(240,95,4);
	background: linear-gradient(0deg, rgba(240,95,4,0.5970763305322129) 0%, rgba(228,3,3,0.6895133053221288) 100%);
}
.justh{
	justify-items: center;
}
.justv{
	align-items: center;
}
.justcont{
	justify-content: space-between;
}
.alingc{
	align-content: space-between;
}
.rotate:hover{
	transform: rotateZ(360deg);
	cursor: pointer;
	transition: all 3s;
}
