<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Madero City - Almacen de bebidas y congelados</title>
	<link rel="shortcut icon" href="../img/fovicon.jpeg">
	 <meta name="description" content="Encontrá Congelados, Bebidas, Promos, Combos y Mucho Mas. Hacé tu Pedido Acá!">
  <meta name="keywords"  content="Congelados, Bebidas, Promos, Combos">
  <meta name="author" content="Jonathan Bertonasco">
<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="cuerpo">
	<div class="intro degradeTrans sticky-top">
		<p class="text-black">Podes realizar tu pedido o contactarte con nosotros por nuestras redes sociales o link de whatsapp</p>
	</div>
	<div class="logop">
		<a href="../index.html">
			<img  class="logoprit" src="../img/logo.png" alt="logo de madero city">
		</a>
	</div>
<!-- Inicio de Navbar -->
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link text-center degrade text-dark" aria-current="page" href="../views/bebidas.html">Bebidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center degrade text-dark" href="../views/congelados.html">Congelados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center degrade text-dark" href="../views/promos.html">Promos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center degrade text-dark" href="../views/pedidos.html">Pedidos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Inicio de encabezado y productos -->
	<header>
		<h1 class="text-center mt-3 mb-3">Lista de Alimentos Congelados</h1>
		<main id="main">
		<div class="container">
  			<div class="row row-cols-2">
    			<div class="col-12 col-sm-6 text-center"><img class="img-frente2 box" src="../img/bocaditos.jpeg" alt="bocaditos de calabaza">
				<p class="text-black">bocaditos 500gr $400</p>
				</div>
    			<div class="col-12 col-sm-6 text-center"><img class="img-frente2 box" src="../img/ravioles.jpeg" alt="ravioles">
				<p class="text-black">ravioles 500gr $350</p>
				</div>
    			<div class="col-12 col-sm-6 text-center"><img class="img-frente2 box" src="../img/papas-baston.jpeg" alt="papas baston">
				<p class="text-black">Papas baston 700gr $400</p>
				</div>
    			<div class="col-12 col-sm-6 text-center "><img class="img-frente2 box" src="../img/medallones.jpeg" alt="medallones de pollo">
				<p class="text-black">Medallones 500gr $370</p>
				</div>
  			</div>
		</div>
		</header>
	</main>
<!-- Inicio de pie de pagina -->
<footer class="piePagina mt-5">
		<h2 class="boxF degradeF"> Podes contactarnos a traves de nuestras redes sociales:</h2>
			<div class="row">
   				<div class="col-12 col-md-4">
    				<a href="https://www.instagram.com/maderocity_/" target="_blanck">
					<img class="instagram" src="../img/logoinsta.png" alt="logo instagram" target="_blanck">
					</a>
				</div>
    			<div class="col-12 col-md-4">
    				<a href="https://walink.co/e9e75b" target="_blanck">
					<img class="whatsapp" src="../img/wsplogo.png" alt="logo whatsapp" target="_blanck">
					</a>
				</div>
    			<div class="col-12 col-md-4">
    				<a href="https://www.facebook.com" target="_blanck">
					<img class="facebook" src="../img/logofb.png" alt="logo facebook">
					</a>
				</div>
			</div>
<!--  Bootstrap Bundle with Popper -->
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>