<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Madero City - Almacen de bebidas y congelados</title>
	<link rel="shortcut icon" href="../img/fovicon.jpeg">
<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="cuerpo">
	<div class="intro degradeTrans sticky-top">
		<p class="text-black">Podes realizar tu pedido o contactarte con nosotros por nuestras redes sociales o link de whatsapp</p>
	</div>
	<div class="logop">
		<a href="../index.html">
			<img  class="logoprit" src="../img/logo.png" alt="logo de madero city">
		</a>
	</div>
<!-- Inicio de Navbar -->
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link text-center degrade text-dark" aria-current="page" href="../views/bebidas.html">Bebidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center degrade text-dark" href="../views/congelados.html">Congelados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center degrade text-dark" href="../views/congelados.html">Promos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center degrade text-dark" href="../views/pedidos.html">Pedidos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
	<header>
		<h1>Promos</h1>
	</header>
	<main>
		<section>
			<table border="2px" cellpadding="5px" cellspacing="5px">
				<tr>
					<th>Combo</th>
					<th>Cantidad</th>
					<th>Precio</th>
				</tr>
				<tr>
					<td>Panchos</td>
					<td>6 salchichas y 6 panes</td>
					<td>250$</td>
				</tr>
				<tr>
					<td>Hamburguesas</td>
					<td>4 Hamburguesas y 4 panes</td>
					<td>250$</td>
				</tr>
			</table>
		</section>
	</main>
<!-- Inicio de pie de pagina -->
<footer class="piePagina mt-5">
		<h2 class="boxB degradeB "> Podes contactarnos a traves de nuestras redes sociales:</h2>
			<div class="row">
   				<div class="col-12 col-md-4">
    				<a href="https://www.instagram.com/maderocity_/" target="_blanck">
					<img class="instagram" src="../img/logoinsta.png" alt="logo instagram" target="_blanck">
					</a>
				</div>
    			<div class="col-12 col-md-4">
    				<a href="https://walink.co/e9e75b" target="_blanck">
					<img class="whatsapp" src="../img/wsplogo.png" alt="logo whatsapp" target="_blanck">
					</a>
				</div>
    			<div class="col-12 col-md-4">
    				<a href="https://www.facebook.com" target="_blanck">
					<img class="facebook" src="../img/logofb.png" alt="logo facebook">
					</a>
				</div>
			</div>
<!--  Bootstrap Bundle with Popper -->
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>