<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Madero City - Almacen de bebidas y congelados</title>
	<link rel="shortcut icon" href="../img/fovicon.jpeg">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="intro">
		<p class="text-black">Podes realizar tu pedido o contactarte con nosotros por nuestras redes sociales o link de whatsapp</p>
	</div>
	<nav>
		<div class="logop">
		<a href="../index.html">
			<img  class="logoprit" src="../img/logo.png" alt="logo de madero city">
		</a>
		</div>
		<div class="text-center flex-direction centrar-img">
		<ul>
			<li class="botones"><a href="../views/bebidas.html">Bebidas</a>
			</li>
			<li class="botones"><a href="../views/congelados.html">Congelados</a>
			</li>
			<li class="botones"><a href="../views/promos.html">Promos</a>
			</li>
			<li class="botones"><a href="../views/contacto.html">Contacto</a>
			</li>
		</ul>
		</div>
	</nav>
	<header>
		<h1>Promos</h1>
	</header>
	<main>
		<section>
			<table border="2px" cellpadding="5px" cellspacing="5px">
				<tr>
					<th>Combo</th>
					<th>Cantidad</th>
					<th>Precio</th>
				</tr>
				<tr>
					<td>Panchos</td>
					<td>6 salchichas y 6 panes</td>
					<td>250$</td>
				</tr>
				<tr>
					<td>Hamburguesas</td>
					<td>4 Hamburguesas y 4 panes</td>
					<td>250$</td>
				</tr>
			</table>
		</section>
	</main>
	<footer class="piePagina">
		<h2 class="text-center">Podes contactarnos a traves de nuestras redes sociales:</h2>
		<div>
		<a href="https://www.instagram.com/maderocity_/" target="_blanck">
			<img class="instagram" src="../img/logoinsta.png" alt="logo instagram" target="_blanck">
		</a>
		<a href="https://walink.co/e9e75b" target="_blanck">
			<img class="whatsapp" src="../img/wsplogo.png" alt="logo whatsapp" target="_blanck">
		</a>
		<a href="https://www.facebook.com" target="_blanck">
			<img class="facebook" src="../img/logofb.png" alt="logo facebook">
		</a>
		</div>
	</footer>
</body>
</html>